.jose-container{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .container-sm, .container, .container-fluid, .jose-container {
    padding: 30px;
    background-color: yellow;
    font-size: 20px;
  }
}

@media (max-width: 659px) {
  .container-sm, .container, .container-fluid, .jose-container {
    max-width: 660px;
    padding: 0px;
    background-color: lightblue;
    font-size: 12px;
    columns: 1;
  }
}

@media (min-width: 1000px) {
  .container-sm, .container, .container-fluid, .jose-container {
    padding: 40px;
    font-size: 30px;
  }
}
